{
  "extends": ["standard"],
  "installedESLint": true,
  "plugins": [
    "standard"
  ],
  "rules": {
    "indent": [
      "warn"
    ],
    "semi": [
      "error",
      "always"
    ],
    "eol-last": [
      "warn",
      "always"
    ],
    "no-unused-vars": [
      "warn",
      {
        "args": "all",
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_\\w+"
      }
    ]
  }
}
