:root {
    --app-drawer-z-index: 10;
    --app-toolbar-height: 64px;
    --app-content-padding: 16px;
    --app-drawer-width: 240px;
}

.layout {
    width: 100%;
}

.content-layout {
    display: flex;
    flex-direction: row;
}

.drawer-layout {
    flex-shrink: 0;
    z-index: var(--app-drawer-z-index);
    height: auto;
}

.inner-layout {
    width: 100%;
    min-width: 512px;
    padding-left: var(--app-content-padding);
    padding-right: var(--app-content-padding);
}

.drawer {
}

.toolbar {
    /* Codemirror has z-index > 3 */
    z-index: calc(var(--app-drawer-z-index) + 1) !important;
}

.toolbar-title {
    color: var(--mdc-theme-text-primary-on-primary, white);
    text-decoration: none;
}

.toolbar-icon {
    padding-right: 16px;
}

.toolbar-title-text {
    font-family: Roboto Mono;
}

:global {
    .mdc-dialog--open {
        /* Codemirror has z-index > 3 */
        z-index: calc(var(--app-drawer-z-index) + 2) !important;
    }
}
