:root {
    --app-toolbar-z-index: 10;
    --app-toolbar-height: 64px;
    --app-content-padding: 16px;
    --app-drawer-width: 240px;
}

.layout {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.content-layout {
    display: flex;
    padding-left: var(--app-drawer-width);
}

.left-layout {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--app-drawer-width);
}

.drawer-layout {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.inner-layout {
    flex: 1;
    padding-left: var(--app-content-padding);
    padding-right: var(--app-content-padding);
}

.drawer {
}

.toolbar {
    /* Codemirror has z-index > 3 */
    z-index: calc(var(--app-toolbar-z-index)) !important;
}

.toolbar-icon {
    padding-right: 16px;
    cursor: pointer;
}

:global {
    .mdc-dialog--open {
        /* Codemirror has z-index > 3 */
        z-index: calc(var(--app-toolbar-z-index) + 1) !important;
    }
}
