:root {
    --app-drawer-z-index: 10;
    --app-toolbar-height: 64px;
    --app-content-padding: 16px;
}

.layout {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.content-layout {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.drawer-layout {
    height: auto;
    z-index: var(--app-drawer-z-index);
    overflow: auto;
    /* For Safari */
    -webkit-overflow-scrolling: touch;
}

.inner-layout {
    flex: 1;
    overflow: auto;
    padding-left: var(--app-content-padding);
    padding-right: var(--app-content-padding);
    /* For Safari */
    -webkit-overflow-scrolling: touch;
}

.drawer {
}

.toolbar {
    /* Codemirror has z-index > 3 */
    z-index: calc(var(--app-drawer-z-index) + 1) !important;
}

.toolbar-title {
    color: var(--mdc-theme-text-primary-on-primary, white);
    text-decoration: none;
}

.toolbar-icon {
    padding-right: 16px;
}

:global {
    .mdc-dialog--open {
        /* Codemirror has z-index > 3 */
        z-index: calc(var(--app-drawer-z-index) + 2) !important;
    }
}
