.layout {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.content {
  padding: 16px;
  overflow: auto;
  display: flex;
  flex: 1;
  flex-grow: 1;
}

.headerLink {
  text-decoration: none;
}

.toolbar {
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-button {
  padding: 16px;
  cursor: pointer;
}
