.layout {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 16px;
  padding-top: 80px;
  z-index: 1;
}

.toolbar-layout {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.headerLink {
  text-decoration: none;
}

.toolbar {
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-button {
  padding: 16px;
  cursor: pointer;
}
