:global {
    :root {
        --mdc-theme-primary: #212121;
        --mdc-theme-accent: #64DD17;
    }
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

#root {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

code, pre {
    font-family: Roboto Mono, monospace;
}

code {
    color: #444444;
}
