$mdc-theme-primary: #64DD17;
$mdc-theme-accent: #64DD17;
$mdc-theme-background: #fff;

$app-theme-dark-background: #212121;

$app-showcase-background: rgba(0, 0, 0, 0.05);
$app-showcase-padding: 24px;

@import "@material/theme/mdc-theme";
